<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Team ChoixDej">
        <title>Index - ChoixDej</title>

        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <link href="/static/css/main.css" rel="stylesheet" type="text/css">
        <!-- Respond.js IE8 support of media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
    		<script src="assets/js/respond.min.js"></script>
    	<![endif]-->
    </head>

    <body>
        <header>


            <nav class="navbar  bg-primary navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                             <a href="#">  <img src="/static/images/logo.png" width="" height="auto" alt="logo"/></a>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'accueil' %}">Accueil</a></li>
                            <li><a href="{% url 'groupe' %}">Gestion groupes </a></li>
                            <li><a href="{% url 'vote' %}">Noter</a></li>
                            <li><a href="{% url 'ajout' %}">Ajouter Resto</a></li>
                            <li><a href="{% url 'deco' %}">Déconnexion</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </header>
       <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 ">


                      <p>Félicitation, vous avez rejoins un nouveau groupe !</p>


                </div>

            </div>
        </div>

  </body>
</html>
