<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Team ChoixDej">
        <title>Index - ChoixDej</title>




        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
        <link href="/static/css/radiobutton.css" rel="stylesheet" type="text/css">
        <!-- Respond.js IE8 support of media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="/static/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <header>


            <nav class="navbar  bg-primary navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <a href="#"><h3>  <img src="/static/images/logo.png" width="30" alt="logo"/>ChoixDej ! </h3></a>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'accueil' %}">Accueil</a></li>
                            <li><a href="{% url 'groupe' %}">Gestion groupes </a></li>
                            <li><a href="{% url 'vote' %}">Noter</a></li>
                            <li><a href="{% url 'ajoutrestaurant' %}">Ajouter Resto</a></li>
                            <li><a href="{% url 'deco' %}">Déconnexion</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </header>


        <div class="gestionGrp">
                   <!-- {% if allgroupes %}
                    <h2> Mon Groupe </h2>
                    {% else %} 
                    <h2> Vos n'avez encore rejoins aucun groupes. </h2>
                    {% endif %} -->
                    <h2> Cliquez votre groupe favori </h2>
                    <div class="funkyradio">
                    {% for grp in allgroupes %}
                    <div class="row test">

                        <div class="col xs-2 col-md-1 col-md-offset-4">
                            <div class="funkyradio-primary">
                                <form method="post" action="">
                                     {% csrf_token %}
                                <input class="btn btn-info" type="submit" name={{grp.id}} value={{ grp.nom_groupes }} /></form>
                            </div>
                        </div>
                           
                        </div>
                           
                    {% endfor %}
                      <form method="post" action="">
                                {% csrf_token %}
                            <input class="btn btn-info" type="submit" name="quitter" value="Quitter votre groupe favori" /></form>

                 </div>
               
                  <a href="{% url 'creer' %}"><button type="button" class="btn btn-primary"> Créer un Groupe !</button></a>


                    <h3> Pour rejoindre un groupe, rentrez le nom </h3>
                  <form method="post" action="">
                      {% csrf_token %}
                    <p>{{ form.nomgroupe.errors }}<label for="{{form.nomgroupe.id_for_label}}"></label>
                    <input id="nomgroupe" type="text" name="nomgroupe" maxlength="50" /></p>
                    <input class="btn btn-info" type="submit" name="rejoindre" value="Rejoindre le groupe" />
                  </form>
                </div>
                


    </body>
</html>
