body{
	background : #efefef;
	width:100%;

}


.container{
	width:100%;
	margin:0 ;
	padding-left: 5%;
	padding-right:5%;
}

.inscription{
	background : rgba(50,50,50,0.6);
	border-radius: 20%;
	text-align: center;
	padding: 50px;
}


.connexion{
	background : rgba(50,50,50,0.6);
	border-radius: 20%;
	text-align: center;
	padding: 50px;
}


.navbar a{
    color : white;
    text-decoration: none;

}

.bg-primary .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: red;
    color: #FFC0CB;
}

#nom-resto{
    text-align: center;
}

#resto{
    width:100%;
}
.go{
    text-align: center;
}

.go .btn {
    width: 20%;
}


::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

.sub{
	text-align: center;
}
