<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Team ChoixDej">
        <title>Index - ChoixDej</title>

        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <link href="/static/css/main.css" rel="stylesheet" type="text/css">
        <!-- Respond.js IE8 support of media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
    		<script src="assets/js/respond.min.js"></script>
    	<![endif]-->
    </head>

    <body>
        <header>
            <nav class="navbar  bg-primary navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <a href="#"> <img src="/static/images/logo.png" width="" height="auto" alt="logo"/></a>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/home">Accueil</a></li>
                            <li><a href="{% url 'groupe' %}">Gestion groupes </a></li>
                            <li><a href="{% url 'vote' %}">Noter</a></li>
                            <li><a href="{% url 'ajoutrestaurant' %}">Ajouter Resto</a></li>
                            <li><a href="{% url 'deco' %}">Déconnexion</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </header>
        {% if allgroupes %}
          <div class="row">
              <div class="img-resto col-md-6 col-md-offset-3">
                    {% for img in image %}
                      <img id="resto" src="{{ img.image.url }}" />
                      <br/>
                      <h1 id="nom-resto"> {{ img.nom_restaurant }} </h1>
                      <h3 id="nom-resto"> {{ img.adresse_restaurant }} </h3>
                    {% endfor %}
              </div>
          </div>

          <div class="form-group go">
            {% if heure.hour < 11 %}
              <form method="post" action="">
                {% csrf_token %}
                <input class="btn btn-info" type="submit" name="jyvais" value="J'y vais !" />
                <input class="btn btn-warning" type="submit" name="jyvaispas" value="Je n'y vais pas!" />
              </form>
            {% endif %}
          </div>
          {% for vais in jyvais %}
            <p>{{ vais.username }}</p>
          {% endfor %}
        {% else %}
        <div class="row">
            <div class="img-resto col-md-6 col-md-offset-3">
              <h1>Aucun restaurant n'est disponible sur ce groupe.</h1>
              </br>
              <h1>Ou alors vous n'appartenez à aucun groupe.</h1>
              </br>
              <h2>Dans ce cas, rejoignez en un pour retrouver vos restaurants préférés !</h2>
            </div>
        </div>
        {% endif %}
    </body>
</html>
